<h1>Order Details of <%= parent_object.name %></h1>
<br/>
<dl>
  <dt>Order Amount:</dt>
  <dd><%= number_to_currency(parent_object.order.total) %></dd>
  <dt>Order Status:</dt>
  <dd><%= parent_object.order.state.humanize %></dd>
</dl>
<% if parent_object.order.answers %>
<h2>Answers</h2>
<ol>
  <% parent_object.order.answers.each do |answer| %>
    <% if answer.question.id == 4 %>
		<li>
	      <strong><%= answer.question.name %></strong>
		<% @user.order.inventors.each do |inventor| %>
			<dl>
				<dt>First Name:</dt>
				<dd><%= inventor.first_name %></dd>
				<dt>Middle Name:</dt>
				<dd><%= inventor.middle_name %></dd>
				<dt>Last Name:</dt>
				<dd><%= inventor.last_name %></dd>
				<dt>Citizenship:</dt>
				<dd><%= inventor.citizenship %></dd>
				<dt>Stree Address:</dt>
				<dd><%= inventor.street_address %></dd>
				<dt>City:</dt>
				<dd><%= inventor.city %></dd>
				<dt>State:</dt>
				<dd><%= inventor.state %></dd>
				<dt>ZIP Code:</dt>
				<dd><%= inventor.zipcode %></dd>
				<dt>Email Address:</dt>
				<dd><%= inventor.email %></dd>
			</dl>
		<% end %>
		</li>
	<% else %>
		<li>
	      <strong><%= answer.question.name %></strong>
	      <p><%= answer.body %></p>
	    </li>
	<% end %>
  <% end %>
</ol>
<% end %>
<h2>Drawings</h2>
<% parent_object.order.drawings.each do |image| %>
	<p><%= image_tag image.image(:thumb) %></p>
<% end %>
<br/>
<p><%= link_to t(:back), admin_users_path %></p>