<%= f.hidden_field :order_id, :value => @order.id %>
<%= f.hidden_field :question_id, :value => @question1.id %>
<%= f.hidden_field :save_and_exit, :value => "" %>
<div id="field_set">
  <%= f.label :body, "<strong>#{params[:position].to_i+1}.</strong> #{question.name}" %>
  <%= f.text_area :body %>
</div>
<%= image_tag "bt/info_tab.jpg", :alt => "More Information", :class => "more_info" %>
<div class="info_text">
  <%= question.help %>
</div>