<h1>Provisional Patent Questionnaire &raquo; Payment</h1>
<div class="content_cms">
  Please make the payment of <%= number_to_currency @order.total %>
  <%= @cart.checkout_button %>
</div>
<div id="questionnaire">
  <%= error_messages_for @object.class.to_s.underscore.to_sym %>
  <div id="actions">
    <div id="progress_bar">
      <div style="width:<%= progress_bar(14.to_i)%>%;">&nbsp;</div>
      <p>PROGRESS BAR (<%= progress_bar(14.to_i)%>%)</p>
      <%= image_tag "bg/progress_bar_left_mask.png", :class => "left" %>
      <%= image_tag "bg/progress_bar_right_mask.png", :class => "right" %>
    </div>
    <div id="buttons">
      <%= link_to "Back", questionnaire_terms_path, :class => "back replacement" %>
    </div>
  </div>
</div>