<h1>Provisional Patent Questionnaire &raquo; Question <%= params[:position].to_i+1 %></h1>
<div class="content_cms" id="content_text">
  <%= @page.body rescue "" %>
</div>
<div id="questionnaire">
  <%= error_messages_for @object.class.to_s.underscore.to_sym %>
  <% form_for(@answer, :url => answer_save_and_continue_path, :live_validations => true, :html => { :method => :put }) do |f| %>
    <%= render :partial => "question", :locals => { :f => f }, :object => @question %>
    <div id="actions">
      <div id="progress_bar">
        <div style="width:<%= progress_bar(params[:position].to_i)%>%;">&nbsp;</div>
        <p>PROGRESS BAR (<%= progress_bar(params[:position].to_i)%>%)</p>
        <%= image_tag "bg/progress_bar_left_mask.png", :class => "left" %>
        <%= image_tag "bg/progress_bar_right_mask.png", :class => "right" %>
      </div>
      <div id="buttons">
      <% if @question.first?  %>
        <%= link_to "Back", questionnaire_questions_path("questions", @question.previous), :class => "back replacement" %>
        <%= submit_tag "Exit & Save", :id => "exit_button", :class => "saveexit replacement" %>
      <% end %>
        <%= submit_tag "Save & Continue", :class => "submit replacement" %>
      </div>
    </div>
  <% end %>
</div>
<%= javascript "plugins/metadata", "plugins/validate", "questionnaire/default" %>