<h1>Provisional Patent Questionnaire &raquo; Step 7</h1>
<div class="content_cms">
  <%= @page.body rescue "" %>
</div>
<div id="questionnaire">
  <%= error_messages_for @object.class.to_s.underscore.to_sym %>
  <% form_tag("step-7", :url => questionnaire_step7_path, :class => "validate", :method => :post ) do %>
    <%= hidden_field :order, :order_id, :value => @order.id %>
	<%= hidden_field :order, :save_and_exit, :value => "" %>
	
	<%= label_tag "main_label", "<strong>8. Alternatives and Variations:</strong>" %>
	<div id="field_set">
	  <%= label :answer12, :body, "#{@question12.name} <small>#{@question12.info}</small>" %>
	  <%= text_area :answer12, :body, :class => "required" %>
	</div>
	<%= image_tag "bt/info_tab.jpg", :alt => "More Information", :class => "more_info" %>
	<div class="info_text">
	  <%= @question12.help %>
	</div>
	
    <div id="actions">
	  <div id="progress_bar">
	    <div style="width:<%= progress_bar(12.to_i)%>%;">&nbsp;</div>
	    <p>PROGRESS BAR (<%= progress_bar(12.to_i)%>%)</p>
	    <%= image_tag "bg/progress_bar_left_mask.png", :class => "left" %>
	    <%= image_tag "bg/progress_bar_right_mask.png", :class => "right" %>
	  </div>
	  <div id="buttons">
	  <% if @question12.first?  %>
	    <%= link_to "Back", questionnaire_step6_path, :class => "back replacement" %>
	    <%= submit_tag "Exit & Save", :id => "exit_button", :class => "saveexit replacement" %>
	  <% end %>
	    <%= submit_tag "Save & Continue", :class => "submit replacement" %>
	  </div>
	</div>
  <% end %>
</div>
<%= javascript "plugins/metadata", "plugins/validate", "questionnaire/default" %>