<div id="medal_services">
  <%= link_to image_tag("medal.png", :alt => "The Patent Lock Advantage", :title => "The Patent Lock Advantage", :size => "149x149"), page_path("why-patent-lock") %>
  <ul>
    <li class="head"><h2>Online Services</h2></li>
    <li><%= link_to "Provisional Patent", page_path("get-started") %></li>
	<li><%= link_to "Utility Patent", page_path("services") %></li>
    <li><%= link_to "Patent Search", page_path("patent-search") %></li>
    <li><%= link_to "Trademark Application", page_path("trademark-application") %></li>
    <li><%= link_to "Trademark Search", page_path("trademark-search") %></li>
  </ul>
</div>
<div id="home">
  <h1><%= @page.name %></h1>
  <%= @page.body %>
</div>
<div id="get_started_home"></div>
<%#= link_to image_tag("bt/get_started.png", :id => "get_started_home", :alt => "Get started on your provisional patent application", :title => "Get started on your provisional patent application", :size => "200x281"), page_path("get-started") %>
<ul id="hot_boxes">
  <li>
    <a href="/pages/<%= @inventor_resource.permalink %>" class="title investor"></a>
    <h3><%= link_to @inventor_resource.name, page_path(@inventor_resource.permalink) %></h3>
    <p><%= @inventor_resource.summary.summary 150 rescue "" %></p>
  </li>
  <li>
    <a href="/pages/<%= @services.permalink %>" class="title services"></a>
    <h3><%= link_to @services.name, page_path(@services.permalink) %></h3>
    <p><%= @services.summary.summary 150 rescue "" %></p>
  </li>
  <li class="big_title">
    <a href="/pages/<%= @how_patent_lock_works.permalink %>" class="title how"></a>
    <h3><%= link_to @how_patent_lock_works.name, page_path(@how_patent_lock_works.permalink) %></h3>
    <p><%= @how_patent_lock_works.summary.summary 150 rescue "" %></p>
  </li>
  <li>
    <a href="/pages/<%= @trademarks.permalink %>" class="title trademarks"></a>
    <h3><%= link_to @trademarks.name, page_path(@trademarks.permalink) %></h3>
    <p><%= @trademarks.summary.summary 150 rescue "" %></p>
  </li>
  <li>
    <a href="http://patentlock.blogspot.com/" target="_blank" class="title blog"></a>
    <h3><%= link_to @blog.name, "http://patentlock.blogspot.com/", :target => "_blank" %></h3>
    <p><%= @blog.summary.summary 150 rescue "" %></p>
  </li>
</ul>
<div id="patent_search">
  <h3><%= @patent_search.name %></h3>
  <p><%= @page.summary.summary 100 rescue "" %></p>
  <% form_tag "#", :method => :get, :target => "_blank" do %>
  	<%= text_field_tag "q", params[:q] || nil %>
  	<%= submit_tag("GO", :class => "submit") %>
  <% end %>
</div>
<%= javascript "plugins/flash", "pages/home" %>