<h1><%= @page.name %></h1>
<%= render :partial => 'sidebar' %>
<div class="content_cms">
	<%= @page.body %>
</div>
<div id="trademark">
<% if request.post? %>
  <p><big><%= params[:trademarks][:name] %></big>, please review the information below and press the checkout button to make the payment.</p>
  <table cellpadding="0" cellspacing="0" border="0">
    <tr class="odd">
      <th>Name:</th>
      <td><%= params[:trademarks][:name] %></td>
      <th>Country of Citizenship of Owner:</th>
      <td><%= params[:trademarks][:country] %></td>
    </tr>
    <tr>
      <th>State of Information:</th>
      <td><%= params[:trademarks][:state_of_formation] %></td>
      <th>Enter the exact word or phrase of the trademark you wish to register:</th>
      <td><%= params[:trademarks][:phrase] %></td>
    </tr>
    <tr class="odd">
      <th>Type of entity (if applicable):</th>
      <td><%= params[:trademarks][:type_of_entity] %></td>
      <th>Describe the goods and/or services you will use your trademark with:</th>
      <td><%= params[:trademarks][:description] %></td>
    </tr>
    <tr>
      <th>Street Address of Owner:</th>
      <td><%= params[:trademarks][:address] %></td>
      <th>Is this trademark currently being used?</th>
      <td><%= params[:trademarks][:being_used] %></td>
    </tr>
    <tr class="odd">
      <th>Owner's City:</th>
      <td><%= params[:trademarks][:city] %></td>
      <th>If this trademark is currently being used, when was the first date of your use of the trademark?</th>
      <td><%= params[:trademarks][:first_date] %></td>
    </tr>
    <tr>
      <th>Street Address of Owner:</th>
      <td><%= params[:trademarks][:address] %></td>
      <th></th>
      <td></td>
    </tr>
    <tr class="odd">
      <th>Owner's State:</th>
      <td><%= params[:trademarks][:state] %></td>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th>Owner's Zip Code:</th>
      <td><%= params[:trademarks][:zip_code] %></td>
      <th></th>
      <td></td>
    </tr>
    <tr class="odd">
      <th>Owner's Telephone Number:</th>
      <td><%= params[:trademarks][:telephone] %></td>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th>Owner's Email Address:</th>
      <td><%= params[:trademarks][:email] %></td>
      <th></th>
      <td></td>
    </tr>
  </table>
  <p class="submit">
  	<%= @cart.checkout_button %>
	</p>
<% else %>
  <% form_for('trademarks', :html => {:class => "validate"}) do |f| %>
  <div id="column_first" class="less">
    <p class="first">
  		<%= f.label(:name, "<strong>1.</strong> Name of the Owner of the Trademark") %>
  		<%= f.text_field :name, :class => "required" %>
  		<small>If individual, provide the full legal name. If a business, provide the full legal name of the corporation, LLC, or other.</small>
  	</p>
  	<p class="first select_small">
  		<%= f.label(:state_of_formation, "State of Formation:") %>
		<%= f.us_state_select :state_of_formation, {:show => :full}, {:include_blank => 'Select a State'} %>
  		<small>If Owner is a corporation or LLC, enter the state where it was formed.</small>
  	</p>
  	<p class="first">
  		<%= f.label(:type_of_entity, "Type of entity (if applicable)") %>
  		<%= f.text_field :type_of_entity %>
  	</p>
  	<%= link_to image_tag("bt/help.jpg", :alt => "Help", :class => "help_icon", :id => "help_icon7"), page_path("inventor-resource"), :target => "_blank" %>
  		<p class="first address">
    		<%= f.label(:address, "<strong>2.</strong> Street Address of Owner:") %>
    		<%= f.text_field :address, :class => "required" %>
    	</p>
    	<p class="first">
    		<%= f.label(:city, "<strong>3.</strong> Owner's City:") %>
    		<%= f.text_field :city, :class => "required" %>
    	</p>
    	<p class="first state">
    		<%= f.label(:state, "<strong>4.</strong> Owner's State:") %>
    		<%= f.us_state_select :state, {:show => :full}, {:include_blank => 'Select a State'}, {:class => 'required'} %>
    	</p>
    	<p class="first">
    		<%= f.label(:zip_code, "<strong>5.</strong> Owner's Zip Code:") %>
    		<%= f.text_field :zip_code, :class => "required" %>
    	</p>
    	<p class="first">
    		<%= f.label(:telephone, "<strong>6.</strong> Owner's Telephone Number:") %>
    		<%= f.text_field :telephone, :class => "required" %>
    	</p>
    	<p class="first">
    		<%= f.label(:email, "<strong>7.</strong> Owner's Email Address:") %>
    		<%= f.text_field :email, :class => "required email" %>
    	</p>
    	<p class="first">
    		<%= f.label(:email_confirmation, "Confirm Email Address:") %>
    		<%= f.text_field :email_confirmation, :class => "{ required:true, email:true, equalTo: '#trademarks_email'}" %>
    	</p>
  </div>
  	<p>
  		<%= f.label(:country, "<strong>8.</strong> Country of Citizenship of Owner:") %>
  		<%= f.text_field :country, :class => "required" %>
  	</p>
    <p>
  		<%= f.label(:phrase, "<strong>9.</strong> Enter the exact word or phrase of the trademark you wish to register:") %>
  		<%= f.text_field :phrase, :class => "required" %>
  	</p>
  	<%= link_to image_tag("bt/help.jpg", :alt => "Help", :class => "help_icon", :id => "help_icon8"), page_path("inventor-resource"), :target => "_blank" %>
  	<p class="textarea">
  		<%= f.label(:description, "<strong>10.</strong> Describe the goods and/or services you will use your trademark with:") %>
  		<%= f.text_area :description, :class => "required" %>
  		<small>e.g. t-shirts, medical software, online social networking website, real estate agent business.</small>
  	</p>
  	<%= link_to image_tag("bt/help.jpg", :alt => "Help", :class => "help_icon", :id => "help_icon9"), page_path("inventor-resource"), :target => "_blank" %>
  	<p class="checkbox radio indent">
  		<%= f.label(:being_used, "<strong>11.</strong> Is this trademark currently being used?") %>
  		<small>Use means interstate commerce in the United States. The name of the trademark entered in #8 must be used in connection with the goods and/or services you described in #9.</small>       
  		<%= f.radio_button :being_used, "yes", :class => 'required' %>
  		<%= f.label(:being_used_yes, "Yes", :class => "small") %>
  		<%= f.radio_button :being_used, "no", :class => 'required' %>
  		<%= f.label(:being_used_no, "No", :class => "small") %>
  	</p>
  	<%= link_to image_tag("bt/help.jpg", :alt => "Help", :class => "help_icon", :id => "help_icon10"), page_path("inventor-resource"), :target => "_blank" %>
  	<p class="big_label">
  		<%= f.label(:first_date, "<strong>12.</strong> If this trademark is currently being used, when was the first date of your use of the trademark?") %>
  		<%= f.text_field :first_date, :class => "required" %>
  		<small>This date must be used in interstate commerce in the United States as used in connection with the goods and/or services you described in #9.</small>
  	</p>
  	<%= link_to image_tag("bt/help.jpg", :alt => "Help", :class => "help_icon", :id => "help_icon11"), page_path("inventor-resource"), :target => "_blank" %>
  	<p class="textarea terms">
  		<%= f.text_area :terms, :value => @page.summary, :readonly => "readonly" %>
  	</p>
  	<p class="checkbox check">
  		<input class="required" id="trademarks_acceptance" name="trademarks[acceptance]" type="checkbox" value="1" />
  		<%= f.label(:acceptance, "I Accept the terms above.") %>
  	</p>
  	<p class="submit">
    	<%= image_submit_tag("bt/submit.jpg") %>
  	</p>
  <% end %>
<% end %>
</div>
<%= javascript "plugins/metadata", "plugins/validate", "pages/trademark_application" %>