<h1><%= @page.name %></h1>
<%= render :partial => 'sidebar' %>
<div class="content_cms">
	<%= @page.body %>
	<%= link_to "Trademark Search", page_path("trademark-search") %>
	<%= link_to "Trademark Registration", page_path("trademark-registration") %>	
</div>