<p>
  <%= f.label :service_price, "Provisional Patent Questionnaire Price" %>
  <%= f.text_field :service_price %>
</p>
<p>
  <%= f.label :service_price, "Patent Search Price" %>
  <%= f.text_field :service_price %>
</p>
<p>
  <%= f.label :service_price, "Combo Price - Provisional Patent Questionnaire + Patent Search" %>
  <%= f.text_field :service_price %>
</p>
<p>
  <%= f.label :service_price, "Trademark Application Price" %>
  <%= f.text_field :service_price %>
</p>
<p>
  <%= f.label :service_price, "Trademark Search Price" %>
  <%= f.text_field :service_price %>
</p>
<p>
  <%= f.label :questionnaire_on_hold %>
  <%= f.check_box :questionnaire_on_hold %>
</p>
<p>
  <%= f.label :away_message %>
  <%= fckeditor_textarea "configuration", "away_message", :height => "400px" %>
</p>