<h1>Information Request <%= SITE_DOMAIN %></h1>
<p>&nbsp;</p>
<p><%= @params[:name] %>, your new password is "<%= @password %>", use this new password with "<%= @params[:login] %>" username. Please login <%= link_to "here", "#{SITE_URL}login"  %>.</p>
