<h1><%= @page.name %></h1>
<div id="with_form" class="content_cms">
	<%= @page.body %>
</div>
<div id="login" class="f_password">
  <% form_for "login", :url => forgot_password_path do |f| %>
    <h3>Forgot Password?</h3>
    <%= f.error_messages %>
    <%= f.label :username, "Your Username:" %>
    <%= f.text_field :username %>
    <p>Type your username in the box above and we will send you a new password.</p>
    <%= submit_tag(t(:login), :class => "replacement submit") %>
  <% end %>
  <ul>
    <li>&raquo; <%= link_to "Login", login_path %></li>
    <li>&raquo; <%= link_to "Forgot Username?", new_user_path %></li>
    <li>&raquo; <%= link_to "Register Now!", new_user_path %></li>
  </ul>
</div>
