<h1><%= @page.name %></h1>
<div id="with_form" class="content_cms">
	<%= @page.body %>
</div>
<div id="login">
  <% form_for @user_session, :url => user_session_path do |f| %>
    <h3>Login</h3>
    <%= f.error_messages %>
    <%= f.label :login, "username:" %>
    <%= f.text_field :login %>
    <%= f.label :password, "password:" %>
    <%= f.password_field :password, :class => "second" %>
    <%= submit_tag(t(:login), :class => "replacement submit") %>
  <% end %>
  <ul>
    <li>&raquo; <%= link_to "Forgot Password?", new_user_path %></li>
    <li>&raquo; <%= link_to "Forgot Username?", new_user_path %></li>
    <li>&raquo; <%= link_to "Register Now!", new_user_path %></li>
  </ul>
</div>
