<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
											"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  	<title><%= metatag_title(@metatag_object, SITE_NAME) %></title>

  	<%= metatags(@metatag_object) -%>
  	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  	<meta http-equiv="content-language" content="en"/>
  	<meta name="author" content="DBurns Design - Professional Website Design in Los Angeles, California"/>
  	<meta name="distribution" content="global"/>
  	<meta name="revisit-after" content="30 days"/>
  	<meta name="copyright" content="DBurns Design"/>

  	<%= stylesheet_link_tag "default" %>

  	<link href="/favicon.ico" type="image/x-icon" rel="icon"/>
  	<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>

  	<%= javascript_include_tag :defaults, "plugins/crossbrowser", "http://www.google-analytics.com/ga", "default" %>
  	<%= yield :head %>
  </head>
  <body>
    <div id="main">
      <%= link_to image_tag("patent_lock.png", :id => "logo", :alt => "Law Office of Michael Cohen - Patent Lock", :title => "Law Office of Michael Cohen - Patent Lock", :size => "289x83"), root_path %>
      <ul id="help_menu">
        <li class="first"><%= link_to "contact", page_path("contact") %></li>
        <li><%= link_to "sitemap", page_path("sitemap") %></li>
      </ul>
      <% [:error, :notice].each do |message| %>
    		<% content_tag :div, :class => message do %>
    			<%= flash[message] %>
    		<% end if flash[message] %>
    	<% end %>
      <ul id="menu">
        <li class="welcome"><%= link_to "Welcome", root_path %></li>
        <li class="get_started"><%= link_to "Get Started", page_path("get-started") %></li>
        <li class="why"><%= link_to "Why Patent Lock", page_path("why-patent-lock") %></li>
        <li class="about"><%= link_to "About Us", page_path("about-us") %></li>
        <li class="member_login"><%= link_to "Member Login", login_path %></li>
      </ul>
      <div id="content">
      	<%= yield  %>
      </div>
      <div id="footer">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Get Started", page_path("get-started") %></li>
          <li><%= link_to "Why Patent Lock", page_path("why-patent-lock") %></li>
          <li><%= link_to "About Us", page_path("about-us") %></li>
          <li><%= link_to "Sitemap", page_path("sitemap") %></li>
          <li><%= link_to "Privacy", page_path("privacy") %></li>
          <li class="last"><%= link_to "Terms of Use", page_path("terms-of-use") %></li>
        </ul>
        <p>&copy; Copyright Patent Lock&trade; - <%= link_to 'Professional Website Design', 'http://www.dburnsdesign.com', :target => '_blank' %> by DBurns Design</p>
        <p>Patent Lock&trade; is a service of the Law Office of Michael N. Cohen, P.C.</p>
      </div>
    </div>
  </body>
</html>